body {
	background:#F5F5F5;
	font-size:15px;
	}
H1{
	text-align: center;
	
}

H2{
	font-weight:bold;
		font-size:25px;
}
.titulo2{
	background-color:#D791DE;
	border:5px solid;
	
}
.titulo4{
	background:#93EB7B;
	border:5px solid;
}
H3{
	font-weight:bold;
	font-size:22px;
	
}
.titulo3{
background:#2E96A3;
border:5px solid;
}
H4{
	font-weight:bold;
	font-size:20px;
}
table{
	width: 100%;
	
}
img{
	margin-left:25%;
}
tr{
	color:#FF4500;
	}
td{
	color:black;
	padding:7px;
}
tr:nth-child(even){
	background-color: #DCDCDC;
}
tr:nth-child(odd){
    background-color:white;
}
@font-face{
	font-family:gill-sans-mt;
	src:url(../gill-sans-mt.ttf);
}
p{
	font-family:gill-sans-mt;
	font-size:18px;
	font-weight:lightest;
}
a{
	font-size:15px;
	text-decoration:none;
	margin: 10px 20px;
	background:#4FC82E;
	color:#000000;
	padding:10px 15px;
	box-shadow:0px 5px 0px #0A7E12;
	display:inline-block;
}
a:hover{
	box-shadow:0px 2px 0px #140410;
	background:#5264E9;
	color:#F1F1F1;
}
a:active{
	box-shadow:none;
}